<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/tailwind.css">
    <title>Lego Collection</title>
</head>

<body>
    <!-- NavBar -->
    <nav>
        <div class="navbar bg-base-100">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl" href="/">Lego Collection</a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-1">
                    <li><a href="./about.html">About</a></li>
                    <li>
                        <details>
                            <summary>Theme</summary>
                            <ul class="bg-base-100 rounded-t-none p-2">
                                <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                                <li><a href="/lego/sets?theme=Classic Town">Classic Town</a></li>
                                <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Hero -->
    <div class="container mx-auto">
        <div class="hero bg-base-200 min-h-screen">
            <div class="hero-content flex-col lg:flex-row">
              <img
                src="/public/Images/lego.webp"
                class="max-w-sm rounded-lg shadow-2xl" />
              <div>
                <h1 class="text-5xl font-bold">Welcome!</h1>
                <p class="py-6">
                    Lets build the blocks of life and discover the world of Legos!!!
                </p>
                <a href="/lego/sets " class="btn btn-primary" >Explore Lego World</a>
             
              </div>
            </div>
          </div>
      </div>

      <!-- Grid system -->

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 hover: gap-4">

        <!-- card 1 -->
        <div class="card bg-base-100 hover:bg-base-300 active:bg-base-400 focus:outline-none focus:ring focus:ring-base-50 w-96 shadow-xl">
            <figure>
              <img
                src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                alt="Shoes" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">Shoes!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>

          <!-- card 2 -->
          <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
              <img
                src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                alt="Shoes" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">Shoes!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>

          <!-- card 3 -->
          <div class="card bg-base-100 w-96 shadow-xl">
            <figure>
              <img
                src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                alt="Shoes" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">Shoes!</h2>
              <p>If a dog chews shoes whose shoes does he choose?</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Buy Now</button>
              </div>
            </div>
          </div>
      </div>
</body>

</html>